body{

  overflow-x: hidden;
  background-color: rgb( 79, 16, 3 );
}
.calculatorDisplay{
   position: absolute;
   left: 35%;
   top: 10%;
   height: 500px;
   width: 350px;
   border: 12px solid black;
   border-radius: 25px 25px 25px 25px;
   background-color:  #cacfd2;
   padding: 26px;
   margin: 2px;



}
.calculatorDisplay h1{
  position: relative;
  left: 60px;
  color: rgb( 4, 9, 13
);

}
button:hover{

  background-color: red;
}
#showtip{
  visibility: hidden;
  text-align: center;
  display: block;
  position: relative;
  top: 40px;

}
#calculateButton{
   position: fixed;
   left: 45%;
   height: 40px;
   width: 130px;
   text-decoration-color: white;


}
